a{text-decoration: none;}
a,a:link,a:visited{color: #000;}
a:hover,a:active{color: #000;text-decoration: underline;}
img {
    max-width: 100%;
    vertical-align: middle;
}
.comW {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}
.comW_1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mobShow {
    display: none;
}
.pcShow {
    display: block;
}
.top1-comW {
    background: #f2f2f2;
    width: 100%;
}
.top2-comW, .top3-comW {
    width: 100%;
    background: #fff;
}
.top-title, .top-setting {
    padding: 0.8% 2%;
    color: #666;
}
.top-title a,.top-title a:link,.top-title a:visited,.top-title a:hover,.top-title a:active,
.top-setting a,.top-setting a:link,.top-setting a:visited,.top-setting a:hover,.top-setting a:active {
    color: #666;
}
.top-logo {
    width: 45%;
    padding: 3.2% 1.3% 0 1.3%;
}
.top-searandnav {
    width: 55%;
    padding: 3% 2% 0 2%;
}
.top-search {
    width: 385px;
    height: 45px;
    border-radius: 45px;
    border: 1px solid #b8b8b8;
    background: #eef0f9;
}
.search-input {
    line-height: 30px;
    color: #000;
    font-size: 13px;
    padding: 2% 0 0 5%;
}
.search-input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
.search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
.search-icon {
    width: 26px;
    height: 25px;
    background: url(../img/search_icon.png) no-repeat 0 0;
    float: right;
    cursor: pointer;
    margin: 2.1% 8% 0 0;
}
.top-nav ul{
    margin-top: 3.5%;
}
.column1 {
    width: 15%;
    font-size: 22px;
    font-weight: bold;
    margin-right: 8.3%;
}
.column1 a,.column1 a:link,.column1 a:active,.column1 a:hover,.column1 a:visited {
    text-decoration: none;
    color: #333;
}
.column2 {
    margin-right: 0;
}
.column3 {
    margin-right: 0;
}
.bottomline {
    margin: 26% 0 0 -23%;
    border-bottom: 5px solid #2d5edd;
    width: 130px;
}
.column2 .bottomline {
    width: 86px;
}
.content-bg1 {
    background: url(../img/content_bg1.png) no-repeat center top;
}
.content-rect {
    background: #fff;
    margin-top: 11.8%;
}
.swiper1-wrapper {
    width: 704px;
    height: auto;
}
.swiper .title a {
    font-size: 17px;
    color: #fff;
}
.content-page {
    margin: 0 auto;
    padding: 2.5%;
}
.text-wrapper {
    width: 38%;
    padding: 0 0 0 2%;
}
.text-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.text-title a,.text-title a:link,.text-title a:hover,.text-title a:visited,.text-title a:active {
    color: #4a630e;
    font-size: 23px;
    font-weight: bold;
}
.text-content {
    line-height: 30px;
    margin-top: 2%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    text-indent: 30px;
}
.text-content a,.text-content a:link,.text-content a:hover,.text-content a:visited,.text-content a:active {
    font-size: 15px;
    color: #7f8080;
}
.swiper-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 19px;
    color: #666;
    margin: 3.2% 3% 0 2%;
}
.swiper-tab span {
    width: 24%;
    text-align: center;
    cursor: pointer;
}
.swiper-tab span:nth-of-type(2) {
    width: 28%;
    text-align: center;
}

.tab {
    display: flex;
    flex-direction: column;
}
.tab-text a,.tab-text a:link,.tab-text a:active,.tab-text a:visited {
    text-decoration: none;
    color: #666;
}
.zwgk-tab-title a,.zwgk-tab-title a:link,.zwgk-tab-title a:active,.zwgk-tab-title a:visited {
    text-decoration: none;
    color: #333;
}
.zwgk-active .zwgk-tab-title a,.zwgk-active .zwgk-tab-title a:link,.zwgk-active .zwgk-tab-title a:active,.zwgk-active .zwgk-tab-title a:visited {
    text-decoration: none;
    color: #333;
}
.active .tab-text a,.active .tab-text a:link,.active .tab-text a:active,.active .tab-text a:visited {
    color: #1b56cf;
}
.tab-text a:hover {
    text-decoration: none;
    color: #1b56cf;
}
.tab-line {
    margin-top: 22%;
    border-bottom: 3px solid #1b56cf;
    width: 100%;
}
.mar185 {
    margin-top: 18.5%;
}

.swiper-tab .fenge {
    font-size: 20px;
    color: #dbdbdb;
    font-weight: 100;
}
.line2 {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.active {
    font-size: 19px;
    color: #1b56cf;
}
.tab-text-wrapper {
    margin-top: 2%;
    line-height: 45px;
}
.tab-text ul li{

}
.tab-text-title {
    width: 90%;
    color: #333;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tab-text-title a,.tab-text-title a:link,.tab-text-title a:visited,.tab-text-title a:active {
    color: #333;
    font-size: 17px;
}
.tab-text-title a:hover {
    color: #333;
    font-size: 17px;
    text-decoration: underline;
}
.tab-text-date {
    width: 10%;
    font-size: 15px;
    color: #999;
    padding-top: 0.05%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.more {
    width: 100%;
    background: #e6e6e6;
    text-align: center;
    line-height: 31px;
}
.more a,.more a:active,.more a:hover,.more a:visited,.more a:link {
    color: #333;
}
.special-list {
    width: 1183px;
    margin: 0 2.5% 3.5% 2.5%;
}
.special-list li {
    border: 1px solid #ccc;
}
.medium {
    background: #f6f6f6;
}
.zwgk {
    margin-top: 4%;
    padding: 0 2.5% 0 2.5%;
}
.zwgk-title-wrapper {
    padding-left: 1%;
}
.title-text {
    font-size: 34px;
    color: #333;
    font-weight: bold;
    padding-left: 3%;
}
.zwgk-active {
    color: #1b56cf;
    font-weight: bold;
}
.zwgk-left-content {
    width: 69.3%;
}
.zwgk-right-content {
    width: 25%;
}
.zwgk-line {
    border-bottom: 4px solid #7c9cdd;
    width: 100%;
    margin-top: 2%;
}
.zwgk-tab {
    width: 100%;
    background: #fff;
}
.zwgk-tab-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #333;
    padding: 4% 10% 2% 10%;
 }
.zwgk-tab-title span {
    cursor: pointer;
}
.zwgk-tab-title .fenge {
    font-size: 27px;
    color: #dbdbdb;
    font-weight: 100;
}
.zwgk-content-list {
    padding: 0 1% 2% 3%;
}
.content-list {
    line-height: 50px;
}
.title-icon {
    margin-right: 0.8%;
}
.content-list li .tab-text-title {
    width: 82%;
    font-size: 18px;
}
.content-list li .tab-text-title a,.content-list li .tab-text-title a:link,.content-list li .tab-text-title a:hover,.content-list li .tab-text-title a:visited,.content-list li .tab-text-title a:active {
    color: #333;
    font-size: 18px;
}
.content-list li .tab-text-date {
    width: 14%;
}
.zwgk-right-content .zwgk-line {
    margin-top: 5.45%;
}
.zwgk-list-wrapper {
    background: #fff;
}
.zwgk-list {
    width: 100%;
    padding: 22% 0 5% 25%;
    line-height: 45px;
}
.zwgk-list-icon {
    padding-top: 7.8%;
}
.zwgk-list-title {
    font-size: 18px;
    margin-left: 20%;
 }
.zwgk-list-title a,.zwgk-list-title a:link,.zwgk-list-title a:hover,.zwgk-list-title a:visited,.zwgk-list-title a:active {
    color: #333;
    font-size: 18px;
}
.fwjl-wrapper {
    width: 100%;
    margin: 5% auto;
    padding: 0 2.5%;
}
.zwfw-wrapper {
    width: 47.8%;
}
.zwfw-title-wrapper {
    padding-left: 2%;
}
.zwfw-title-text {
    font-size: 34px;
    color: #333;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 0.5%;
}
.zwfw-image {
    margin-top: 5%;
    margin-bottom: 3%;
}
.app-wrapper {
    background: url(../img/app-bg.png) no-repeat center top;;
}
.more-img {
    padding: 9% 3% 3% 0;
    width: 100%;
    text-align: right;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4%;
}
.hdjl-title-text {
    font-size: 34px;
    color: #333;
    font-weight: bold;
    padding-left: 3%;
}
.hdjl-xxzx {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5.7%;
    margin-left: 2%;
    margin-bottom: 3%;
    padding: 2% 6%;
}
.line3 {
    margin: 3% auto;
    border-right: 5px solid #e0eaff;
}
.gzzx {
    background: #fff;
    margin-left: 2%;
}
.gzzx_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3.7% 2% 3.7% 0;
}
.line4 {
    margin: 0 3% 0 0;
    border-left: 4px solid #386bdc;
}
.gzzx-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 30px;
}
.gzzx-content a,.gzzx-content a:link,.gzzx-content a:hover,.gzzx-content a:visited,.gzzx-content a:active {
    color: #333;
    font-size: 15px;
}
.line5-wrapper {
    padding-left: 4%;
}
.line5 {
    border-bottom: 1px solid #eee;
}
.more-zx {
    text-align: right;
    padding-right: 2%;
    margin-bottom: 2.5%;
}
.more-zx a,.more-zx a:link,.more-zx a:hover,.more-zx a:visited,.more-zx a:active {
    color: #386bdc;
    font-size: 16px;
}
.info-list {
    background: #e0e0e0;
}
.list-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 2.3% 5% 2.5%;
}
.web-info {
    background: #5e89ea;
}


.linknav > li{margin-right:9px}
.linknav > li > ul {
    height: 327px;
    top: -327px;
}
.linknav>li>ul>li{
    float:none;
}
.bt {
    margin-top: 80px;
}
.bt .cont, .sy .cont {
    width: 1170px;
    margin: 0 auto;
}
.bottom {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    color: #000;
}

.footclear {
    width: 100%;
    height: 8px;
    background: url(../img/more.png) no-repeat center 0px;
}

.footone {
    width: 100%;
    font-size: 18px;
    line-height: 80px;
}


.footicon {
    padding-left: 15px;
    float: left;
    padding-top: 20px;
}

.footicon2 {
    padding-left: 15px;
    float: left;
    padding-top: 20px;
}

.footchar {
    width: 800px;
    border-left: 1px solid #e6e6e6;
    padding-left: 20px;
    line-height: 24px;
    text-align: left;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}
.linknav {
    width: 100%;
    padding: 1% 2.4%;
}

.linknav > li {
    position: relative;
    line-height: 30px;
    padding: 0 3.5% 0.3% 0;
    float: left;
    margin-right: 4.5%;
    background: url(../img/hide.png) no-repeat right;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.linknav li:last-of-type {
    margin-right: 0;
    padding-right: 5.2%;
}
.linknav li:last-of-type ul {
    width: auto;
}

.linknav .cur {
    background: #5e89ea url(../img/show.png) no-repeat right;
    color: #fff;
}
.linknav .cur a,.linknav .cur a:link,.linknav .cur a:visited,.linknav .cur a:active {
    text-decoration: none;
    color: #333;
}
.linknav .cur a:hover {
    text-decoration: none;
    color: #5e89ea;
}

.linkbox {
    line-height: 30px;
    width: 100%;
    font-size: 12px; /* display: none; */
    height: 145px;
    overflow: hidden;
    display: none;
    margin-top: 10px;
}

.linkbox > li {
    padding: 10px 15px;
    float: left;
    color: #000;
}

.linknav > li > ul {
    width: 220px;
    height: 340px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #ccd1d3;
    position: absolute;
    left: -1px;
    top: -340px;
    display: none;
    z-index: 1000;
}
.linknav > li > ul > li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 25px;
}

.linknav > li > ul a {
    font-size: 14px;
    padding-left: 10px;
}

.linknav li:hover > ul {
    display: block;
}
.footer {
    padding: 0.6% 0;
    background: #3657b8;
}
.mask {
    padding: 0.2% 0;
    background: url(../img/mask.png) no-repeat center top;
    background-size: 100% 100%;
}
.footer-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    color: #000;
    padding: 0 2.5%;
}
.dzjg-icon {
    margin-top: -12px;
    padding: 20px 0 0 22px;
    float: left;
}
.bgt {
    padding: 20px 0 0 34px;
    float: left;
}
.bqxx {
    margin-top: -12px;
    padding: 20px 0 0 38px;
    display: flex;
    flex-direction: row;
    float: left;
    color: #fff;
    font-size: 12px;
}
.line6 {
    border-right: 1px solid #8196d2;
    margin: 3px 21px;
}
.zbdw {
    line-height: 24px;
    margin: 0 27px;
}
.zbdw a,.zbdw a:link,.zbdw a:hover,.zbdw a:active,.zbdw a:visited{
    color: #fff;
}
.jszc {
    line-height: 24px;
    margin: 0 12px 0 16px;
}
.baxx  {
    line-height: 24px;
    margin-left: 25px;
}
.dgwa {
    padding-top: 0.4%;
}
.baxx a,.baxx a:hover,.baxx a:link,.baxx a:active,.baxx a:visited {
    color: #fff;
}
.bsm {
    margin-left: 17%;
}

/* 专用于除PC外的tap栏点击切换或者是点击跳转问题处理 */
.notpc {
    display: none;
}
.pc {
    display: block;
}

@media screen and (max-width: 1025px) {
    a.a:hover,a:active,a:hover,a:visited {
        text-decoration: none;
    }
    /* 专用于除PC外的tap栏点击切换或者是点击跳转问题处理 */
    .notpc {
        display: block;
    }
    .pc {
        display: none;
    }
    .swiper1-wrapper {
        width: 100%;
        transform: translateX(15%);
    }
    .text-wrapper {
        width: 100%;
        padding-top: 3%;
    }
    .content-page {
        margin: 0 auto;
        padding: 0 1% 2.5% 1%;
    }
    .padShow {
        display: block;
    }
    .dzjg-icon {
        width: 50%;
        padding: 20px 0 0 0;
        text-align: center;
    }
    .bgt {
        width: 50%;
        text-align: left;
    }
}
@media screen and (max-width: 769px) {
    .bottomline {
        display: none;
    }
    .swiper1-wrapper {
        transform: translateX(3.5%);
    }
    .padShow {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .fl, .fr {
        float: none;
    }
    .mobShow {
        display: block;
    }
    .pcShow {
        display: none;
    }
    .top-title, .top-setting {
        padding: 2% 2%;
    }
    .top-title {
        float: left;
    }
    .top-setting {
        float: right;
    }
    .top-logo {
        width: 100%;
        padding: 3.2% 2% 0 1%;
    }
    .top-searandnav,.top-search {
        width: 100%;
    }
   .top-nav {
       margin-top: 3.5%;
   }
   .mobStyle {
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
    .column4 {
        width: 15%;
        font-size: 22px;
        font-weight: bold;
        line-height: 25px;
    }
    .content-bg1 {
        background: none;
    }
    .content-rect {
        background: #fff;
        margin-top: 2.8%;
    }
    .swiper1-wrapper {
        width: 100%;
        transform: none;
    }
    .swiper .title a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
    }
    .text-wrapper {
        width: 100%;
        margin-top: 0;
        padding: 5% 2% 0 2%;
    }
    .swiper-tab{
        font-size: 15px;
    }
    .active {
        font-size: 15px;
    }
    .mar185 {
        margin-top: 19%;
    }
    .tab-text-title {
        width: 85%;
        float: left;
    }
    .tab-text-title a, .tab-text-title a:link, .tab-text-title a:hover, .tab-text-title a:visited, .tab-text-title a:active {
        font-size: 16px;
    }
    .tab-text-date {
        font-size: 14px;
    }
    .tab-text-date {
        width: 11%;
        float: right;
    }
    .mobfl {
        float: left;
    }
    .zwgk {
        padding: 0 1% 0 1%;
    }
    .zwgk-left-content {
        width: 100%;
    }
    .zwgk-tab-title {
        font-size: 22px;
        padding: 4% 8% 2% 8%;
    }
    .content-list li .tab-text-title {
        width: 75%;
    }
    .title-icon {
        margin-top: -0.3%;
    }
    .content-list li .tab-text-title a, .content-list li .tab-text-title a:link, .content-list li .tab-text-title a:hover, .content-list li .tab-text-title a:visited, .content-list li .tab-text-title a:active {
        color: #333;
        font-size: 15px;
    }
    .content-list li .tab-text-date {
        width: 23%;
    }
    .zwgk-right-content {
        width: 100%;
    }
    .zwgk-list-icon {
        float: left;
        padding-top: 6.5%;
    }
    .zwgk-list-title {
        float: left;
    }
    .zwgk-list {
        padding: 3% 0 3% 28%;
    }
    .zwfw-wrapper {
        width: 100%;
    }
    .zwfw-image {
        padding-left: 1%;
        padding-right: 1%;
    }
    .app-wrapper {
        margin-left: 1%;
        margin-right: 1%;
    }
    .fwjl-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .zwfw-wrapper {
        margin: 5% auto;
    }
    .hdjl-xxzx {
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5.5%;
        margin-left: 1%;
        margin-bottom: 3%;
        margin-right: 1%;
        padding: 2% 1%;
    }
    .gzzx {
        background: #fff;
        margin: 0 1%;
    }
    .linknav {
        width: 100%;
        padding: 1% 0;
    }
    .linknav li:nth-of-type(even) {
        margin-right: 0;
    }
    .linknav > li {
        padding: 0 10% 0.3% 5%;
    }
    .linknav li:last-of-type {
        padding-right: 11.2%;
    }
    .dzjg-icon {
        width: 50%;
        padding: 20px 0 0 0;
        text-align: center;
    }
    .bgt {
        width: 50%;
        padding: 20px 0 0 0;
        text-align: left;
    }
    .bqxx {
        float: none;
        display: block;
        padding: 20px 15px 0 15px;
        text-align: center;
    }
    .zbdw {
        line-height: 24px;
        margin: 0 25px;
    }
    .dgwa {
        padding-left: 50px;
    }
}
@media screen and (max-width: 321px) {
    .dgwa {
        padding-left: 16px;
    }
}