.swiper-pagination-bullet{
    width: 100px;
    height: 10px;
    border-radius: 0;
    background: #ccc;
}
.swiper-pagination-bullet-active{
    background: #75a31b;
}
.swiper-content {
    position: absolute;
    z-index:3;
    top: 0;
    left:0;
    width: 100%;
}
.top1-comW {
    background: rgba(236,241,250,.3);
    width: 100%;
    box-shadow: 0 0 5px rgba(236,241,250,.3);
}
.top-setting {
    color: #fff;
}
.top-title a,.top-title a:link,.top-title a:visited,.top-title a:hover,.top-title a:active,
.top-setting a,.top-setting a:link,.top-setting a:visited,.top-setting a:hover,.top-setting a:active {
    color: #fff;
}
.top2-comW, .top3-comW {
    background: rgba(236,241,250,.3);
    width: 100%;
}
.top3-comW {
    border-bottom: 1px solid #d6d5da;
}
.column1 a, .column1 a:link, .column1 a:active, .column1 a:hover, .column1 a:visited {
    text-decoration: none;
    color: #fff;
}
.zslb-title {
    text-align: center;
    margin: 5% 0 1% 0;
}
.zslb-left {
    width: 47.3%;
}
.zwgk-content-list {
    padding: 0;
}
.content-list {
    line-height: 52px;
}
.content-list li .tab-text-title {
    width: 80%;
}
.title-icon {
    margin-right: 1.2%;
}
.content-list li .tab-text-date {
    width: 15%;
}
.more-zslb {
    margin-top: 2.2%;
    color: #386bdc;
    text-align: right;
}
.more-zslb a, .more-zslb a:link,.more-zslb a:hover,.more-zslb a:active,.more-zslb a:visited{
    color: #386bdc;
}
.hyxx-title {
    text-align: center;
    margin: 4% 0 1% 0;
}
.ynsp-wrapper {
    margin-top: 4.5%;
    background: url(../img/wmyzcy_1.png) no-repeat center top;
}
.ynsp-big-title {
    text-align: center;
    margin: 4.8% 0 2.1% 0;
}
.video video {
    outline: none;
    display: inline-block;
    vertical-align: baseline;
    object-fit: fill;
}
.video-wrapper .video-img {
    position: absolute;
    top: 250px;
    left: 450px;
    width: 88px;
    height: 88px;
    z-index: 999;
    background: url(../img/play.png) no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}
.ynsp-content-wrapper {
    width: 50.5%;
}
.ynsp-content {
    margin-top: 0.8%;
    margin-left: 6.8%;
}
.ynsp-item-content {
    width: 65.9%;
    padding-top: 1.1%;
    line-height: 29px;
    margin-left: 7.8%;
}
.bcg {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.bcg-text {
    width: 93%;
    font-size: 18px;
    color: #333;
    margin-left: 2.8%;
}
.bcg-text a,.bcg-text a:link,.bcg-text a:hover,.bcg-text a:active,.bcg-text a:visited {
    font-size: 18px;
    color: #333;
    margin-left: 2.1%;
}
.bcg-date {
    width: 15%;
    font-size: 15px;
    color: #999;
}
.icon-play {
    text-align: right;
    margin-right: 5.5%;
}
.line7 {
    margin-top: 2.3%;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 3.5%;
}
.more-ynsp {
    margin-top: 4.1%;
    color: #386bdc;
    text-align: right;
    margin-bottom: 8.1%;
}
.more-ynsp a,.more-ynsp a:link,.more-ynsp a:hover,.more-ynsp a:active,.more-ynsp a:visited {
    color: #386bdc;
}
.scdt-wrapper {
    margin-bottom: 3.5%;
}
.scdt-title {
    text-align: center;
    margin: 6.6% 0 0.8% 0;
}
.scdt-right {
    width: 47.3%;
    background: #f6f6f6;
    margin-top: 1.5%;
}
.scdt-img-1 {
    padding: 7.2% 5% 5% 7.2%;
}
.scdt-img-2 {
    padding: 7.2% 4.9% 5% 0;
}
.scdt-img-3 {
    padding: 7.2% 0 5% 0;
}
.more-scdt {
    width: 100%;
    font-size: 20px;
    color: #4c4c4c;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6.1%;
}

@media screen and (max-width: 600px) {
    .swiper-content {
        position: relative;
        z-index: 1;
        width: 100%;
        background: url(../img/nynczwxxgk_bg_1.png) no-repeat center top;
        background-size: 100% 100%;
    }
    .column4 a, .column4 a:link, .column4 a:active, .column4 a:hover, .column4 a:visited {
        text-decoration: none;
        color: #fff;
    }
    .zslb-left {
        width: 100%;
        padding: 1% 2.5%;
    }
    .content-list li .tab-text-title {
        width: 75%;
        font-size: 14px;
    }
    .content-list li .tab-text-date {
        margin-top: 0.3%;
        width: 24%;
    }
    .more-zslb {
        text-align: center;
    }
    .notpc {
        display: none;
    }
    .ynsp-wrapper {
        background: none;
    }
    .video-wrapper {
        width: 100%;
    }
    .video video {
        width: 100%;
        object-fit: fill;
    }
    .ynsp-content-wrapper {
        width: 100%;
    }
    .ynsp-content {
        width: 100%;
        margin-left: 0;
        margin-top: 7%;
    }
    .ynsp-item-wrapper {
        padding: 0 2.5%;
    }
    .ynsp-img {
        width: 100%;
        text-align: center;
    }
    .ynsp-item-content {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        line-height: 27px;
        margin-left: 0;
    }
    .ynsp-img-1 {
        width: 3.8%;
        margin-top: 2.8%;
    }
    .bcg-text {
        width: 96%;
        margin-left: 0;
        margin-top: 2.8%;
    }
    .more-ynsp {
        margin-bottom: 0;
        padding-bottom: 3%;
        text-align: center;
    }
    .scdt-right {
        width: 100%;
        padding: 0 2.5%;
    }
    .scdt-img-1,.scdt-img-2,.scdt-img-3 {
        width: 100%;
        text-align: center;
        padding: 3% 0;
    }
    .more-scdt {
        margin-bottom: 0;
        padding-bottom: 3%;
    }
}
@media screen and (max-width: 321px) {
    .swiper-pagination-bullet {
        width: 90px;
    }
}

