<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> 农业农村厅首页 </title>
    <meta name="sitename" content="云南省农业农村厅">
    <meta name="sitedomain" content="">
    <meta name="siteidcode" content="">
    <meta name="columntype" content="首页">
    <meta name="articletitle" content="">
    <meta name="pubdate" content="">
    <meta name="contentsource" content="">
    <meta name="keywords" content="">
    <meta name="author" content="author,email address">
    <meta name="description" content="页面描述" />
    <meta name="url" content="">
    <meta name="catalog" content="">
    <meta name="lanmu" content="">
    <meta name="manuscriptId" content="">
    <meta name="firstpublishedtime" content="">
    <meta name="lastmodifiedtime" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <link rel="shortcut icon" href="../../../../statics/nync/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../statics/nync/css/reset.css">
    <link rel="stylesheet" href="../../../../statics/nync/css/swiper.min.css">
    <link rel="stylesheet" href="../../../../statics/nync/css/zScroll.min.css">
    <link rel="stylesheet" href="../../../../statics/nync/css/common.css">
    <!--- -[if (gte IE 6)&(lte IE 8)]-->
    <!-- 增加css3部分属性支持 -->
    <script type="text/javascript" src="../../../../statics/nync/js/selectivizr-min.js"></script>
    <!--[endif]- --->
</head>
<body>
<div class="top">
    <div class="top1-comW">
        <div class="comW clearfix ohd">
            <div class="top-title fl">
                <a href="http://www.yn.gov.cn/" target="_blank">云南省人民政府网</a>
            </div>
            <div class="top-setting fr"> <a href="javascript:fycnPage();" id="fycn">简</a> | <a href="javascript:fytwPage();" id="fytw">繁</a> | <a href="#" target="_blank">无障碍浏览</a> </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="top2-comW">
        <div class="comW clearfix ohd">
            <div class="top-logo fl">
                <a href="#"><img src="../../../../statics/nync/img/nync_logo.png" /></a>
            </div>
            <div class="top-searandnav fr">
                <div class="top-search fr">
                    <input name="keyword" type="text" class="search-input" id="textfield" onkeydown="if(event.keyCode===13){submitsearch();}" onfocus="if(this.value==='请输入关键字'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" placeholder="请输入关键字" />
                    <div id="btn_submit" class="search-icon" onclick="submitsearch()"></div>
                </div>
                <div class="space"></div>
                <div class="top-nav yh">
                    <ul class="pcShow">
                        <li class="column1 column2 fl">
                            <a href="" target="_self">首页</a>
                            <div class="bottomline"></div>
                        </li>
                        <li class="column1 fl">
                            <a href="zwgk.html" target="_blank">政务公开</a>
                            <div class="bottomline dn"></div>
                        </li>
                        <li class="column1 fl">
                            <a href="bsfw.html" target="_blank">办事服务</a>
                            <div class="bottomline dn"></div>
                        </li>
                        <li class="column1 fl">
                            <a href="hdjl.html" target="_blank">互动交流</a>
                            <div class="bottomline dn"></div>
                        </li>
                        <li class="column1 column3 fl">
                            <a href="yngk.html" target="_blank">云农概况</a>
                            <div class="bottomline dn"></div>
                        </li>
                        <li class="space0"></li>
                    </ul>
                </div>
                <div class="top-nav yh">
                    <div class="mobStyle mobShow">
                        <div class="column4"><a href="" target="_self">首页</a></div>
                        <div class="column4"><a href="zwgk.html" target="_blank">政务公开</a></div>
                        <div class="column4"><a href="bsfw.html" target="_blank">办事服务</a></div>
                        <div class="column4"><a href="hdjl.html" target="_blank">互动交流</a></div>
                        <div class="column4"><a href="yngk.html" target="_blank">云农概况</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="top3-comW">
        <div class="comW">
            <div class="line1"></div>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-bg1">
        <div class="comW clearfix ohd">
            <div class="content-rect">
                <div class="content-page ohd yh clearfix">
                    <div class="swiper1-wrapper fl">
                        <div class="swiper" id="swiper" style="overflow: hidden;">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../../../../statics/nync/img/content_img.png" />
                                    </a>
                                    <div class="title">
                                        <a href="#" target="_blank">
                                            国务院关于同意在浙江省暂时调整实施有关行政法规规定的批复
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../../../../statics/nync/img/content_img.png" />
                                    </a>
                                    <div class="title">
                                        <a href="#" target="_blank">
                                            国务院关于同意在浙江省暂时调整实施有关行政法规规定的批复
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../../../../statics/nync/img/content_img.png" />
                                    </a>
                                    <div class="title">
                                        <a href="#" target="_blank">
                                            国务院关于同意在浙江省暂时调整实施有关行政法规规定的批复
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="../../../../statics/nync/img/content_img.png" />
                                    </a>
                                    <div class="title">
                                        <a href="#" target="_blank">
                                            国务院关于同意在浙江省暂时调整实施有关行政法规规定的批复
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <script>

                        </script>
                    </div>
                    <div class="text-wrapper fr">
                        <div class="text-title"><a href="#" target="_blank">云南深入推进生态环境保护</a></div>
                        <div class="text-content"><a href="#" target="_blank">记者从3月19日召开的全省生态环境（环境保护）局长会议上了解到，2018年以来，我省深入贯彻落实习近平生态文明思想，全面建设社会主义小康社会。</a></div>
                        <div class="swiper-tab ohd clearfix">
                            <span class="active">
                                <div class="tab">
                                    <div class="tab-text">
                                        <a class="pc" href="#" target="_blank">云农快讯</a></div>
                                        <a class="notpc" href="javascript:void(0)">云农快讯</a>
                                    <div class="tab-line"></div>
                                </div>
                            </span>
                            <div class="fenge">|</div>
                            <span class="">
                                <div class="tab">
                                    <div class="tab-text">
                                        <a class="pc" href="#" target="_blank">全国信息联播</a>
                                        <a class="notpc" href="javascript:void(0)">全国信息联播</a>
                                    </div>
                                    <div class="tab-line dn mar185"></div>
                                </div>
                            </span>
                            <div class="fenge">|</div>
                            <span class="">
                                <div class="tab">
                                    <div class="tab-text">
                                        <a class="pc" href="#" target="_blank">国务院信息</a>
                                        <a class="notpc" href="javascript:void(0)">国务院信息</a>
                                    </div>
                                    <div class="tab-line dn"></div>
                                </div>
                            </span>
                        </div>
                        <div class="line2"></div>
                        <div class="space"></div>
                        <!-- 云农快讯 -->
                        <div class="tab-text-wrapper yh ohd clearfix">
                            <div class="tab-text">
                                <ul>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">楚雄州扶贫日“消费扶贫产品展销”启动1</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">云南省第三次全国农作物种质资源普查与收集行动进展较为顺利</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">“云南省程功专家工作站”在省畜牧兽医科学院揭牌</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">晋宁首创村规民约“红黑榜”</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">老乡们的小康路越走越宽</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">婆娑碧叶晶 枝下脆梨莹</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li class="space0"></li>
                                </ul>
                                <div class="more clearfix notpc">
                                    <a href="#" target="_blank">更 多</a>
                                </div>
                            </div>
                        </div>
                        <!-- 全国信息联播 -->
                        <div class="tab-text-wrapper yh ohd clearfix dn">
                            <div class="tab-text">
                                <ul>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">楚雄州扶贫日“消费扶贫产品展销”启动2</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">云南省第三次全国农作物种质资源普查与收集行动进展较为顺利</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">“云南省程功专家工作站”在省畜牧兽医科学院揭牌</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">晋宁首创村规民约“红黑榜”</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">老乡们的小康路越走越宽</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">婆娑碧叶晶 枝下脆梨莹</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li class="space0"></li>
                                </ul>
                                <div class="more clearfix notpc">
                                    <a href="#" target="_blank">更 多</a>
                                </div>
                            </div>
                        </div>
                        <!-- 国务院信息 -->
                        <div class="tab-text-wrapper yh ohd clearfix dn">
                            <div class="tab-text">
                                <ul>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">楚雄州扶贫日“消费扶贫产品展销”启动3</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">云南省第三次全国农作物种质资源普查与收集行动进展较为顺利</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">“云南省程功专家工作站”在省畜牧兽医科学院揭牌</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">晋宁首创村规民约“红黑榜”</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">老乡们的小康路越走越宽</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li>
                                        <div class="tab-text-title fl"><a href="#" target="_blank">婆娑碧叶晶 枝下脆梨莹</a></div>
                                        <div class="tab-text-date fr">07.23</div>
                                    </li>
                                    <li class="space0"></li>
                                </ul>
                                <div class="more clearfix notpc">
                                    <a href="#" target="_blank">
                                        <a href="#" target="_blank">更 多</a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="special-list" id="special-list" style="overflow: hidden;">
                    <ul>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_1.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_2.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_3.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_4.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_1.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_2.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_3.png" />
                            </a>
                        </li>
                        <li>
                            <a href="ztzl.html" target="_blank">
                                <img src="../../../../statics/nync/img/special_4.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <script>

                </script>
            </div>
        </div>
    </div>
</div>
<div class="medium">
    <div class="comW clearfix ohd">
        <div class="zwgk clearfix ohd">
            <div class="zwgk-title-wrapper yh ohd clearfix">
                <img class="fl mobfl" src="../../../../statics/nync/img/zwgk_icon.png" alt="" />
                <div class="title-text fl mobfl">政务公开</div>
            </div>
            <div class="space0"></div>
            <div class="zwgk-left-content fl yh">
                <div class="zwgk-line"></div>
                <div class="zwgk-tab">
                    <div class="zwgk-tab-title">
                        <span class="zwgk-active">
                            <a class="pc" href="#" target="_blank">政策文件</a>
                            <a class="notpc" href="javascript:void(0)">政策文件</a>
                        </span>
                        <div class="fenge">|</div>
                        <span class="">
                            <a class="pc" href="#" target="_blank">政策解读</a>
                            <a class="notpc" href="javascript:void(0)">政策解读</a>
                        </span>
                        <div class="fenge">|</div>
                        <span class="">
                            <a class="pc" href="#" target="_blank">公示公告</a>
                            <a class="notpc" href="javascript:void(0)">公示公告</a>
                        </span>
                    </div>
                    <div class="zwgk-content-list yh ohd clearfix">
                        <div class="content-list">
                            <ul>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">云南省农业农村厅办公室关于组织开展全国农业产业化龙头企业100强推介活动的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">解读《云南省省级救灾备荒种子储备管理办法》1</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">《国家畜禽遗传资源目录》 专家解读④ | 促进养牛业持续健康发展</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">《国家畜禽遗传资源目录》 专家解读② | 依法依规做好畜禽遗传资源保护与利用做好畜禽遗传资源保护与利用</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">云南省农业农村厅关于开展2020年农业技术正高级职称申报评审工作的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#">关于全国农村承包地确认权登记颁证工作先进集体和先进个人候选名单的公示</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li class="space0"></li>
                            </ul>
                            <div class="more clearfix notpc">
                                <a href="#" target="_blank">更 多</a>
                            </div>
                        </div>
                    </div>
                    <div class="zwgk-content-list yh ohd clearfix dn">
                        <div class="content-list">
                            <ul>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">云南省农业农村厅办公室关于组织开展全国农业产业化龙头企业100强推介活动的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">解读《云南省省级救灾备荒种子储备管理办法》2</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">《国家畜禽遗传资源目录》 专家解读④ | 促进养牛业持续健康发展</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">《国家畜禽遗传资源目录》 专家解读② | 依法依规做好畜禽遗传资源保护与利用做好畜禽遗传资源保护与利用</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">云南省农业农村厅关于开展2020年农业技术正高级职称申报评审工作的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">关于全国农村承包地确认权登记颁证工作先进集体和先进个人候选名单的公示</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li class="space0"></li>
                            </ul>
                            <div class="more clearfix notpc">
                                <a href="#" target="_blank">更 多</a>
                            </div>
                        </div>
                    </div>
                    <div class="zwgk-content-list yh ohd clearfix dn">
                        <div class="content-list">
                            <ul>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">云南省农业农村厅办公室关于组织开展全国农业产业化龙头企业100强推介活动的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">解读《云南省省级救灾备荒种子储备管理办法》3</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">《国家畜禽遗传资源目录》 专家解读④ | 促进养牛业持续健康发展</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">《国家畜禽遗传资源目录》 专家解读② | 依法依规做好畜禽遗传资源保护与利用做好畜禽遗传资源保护与利用</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">云南省农业农村厅关于开展2020年农业技术正高级职称申报评审工作的通知</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li>
                                    <div class="tab-text-title fl">
                                        <img class="title-icon" src="../../../../statics/nync/img/black_icon.png" />
                                        <a href="#" target="_blank">关于全国农村承包地确认权登记颁证工作先进集体和先进个人候选名单的公示</a>
                                    </div>
                                    <div class="tab-text-date fr">2020-04-16</div>
                                </li>
                                <li class="space0"></li>
                            </ul>
                            <div class="more clearfix notpc">
                                <a href="#" target="_blank">更 多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zwgk-right-content yh fr">
                <div class="zwgk-line"></div>
                <div class="zwgk-list-wrapper">
                    <div class="zwgk-list">
                        <ul>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=ldzc" target="_blank">领导之窗</a></div>
                                <div class="space0"></div>
                            </li>

                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=znpz" target="_blank">职能配置</a></div>
                                <div class="space0"></div>
                            </li>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=nsjg" target="_blank">内设机构</a></div>
                                <div class="space0"></div>
                            </li>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=zsdw" target="_blank">直属单位</a></div>
                                <div class="space0"></div>
                            </li>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=czgk" target="_blank">财政公开</a></div>
                                <div class="space0"></div>
                            </li>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=cggk" target="_blank">采购公开</a></div>
                                <div class="space0"></div>
                            </li>
                            <li>
                                <img class="zwgk-list-icon fl" src="../../../../statics/nync/img/blue_icon.png">
                                <div class="zwgk-list-title fl"><a href="zwgk.html?name=ssjygk" target="_blank">双随机一公开</a></div>
                                <div class="space0"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="fwjl-wrapper yh ohd clearfix">
            <div class="zwfw-wrapper fl">
                <div class="zwfw-title-wrapper">
                    <img class="fl mobfl" src="../../../../statics/nync/img/zwfw_icon.png" alt="" />
                    <div class="zwfw-title-text fl mobfl">政务服务</div>
                    <div class="space0"></div>
                </div>
                <div class="zwfw-image">
                    <a href="https://zwfw.yn.gov.cn/portal/#/home" target="_blank"><img src="../../../../statics/nync/img/zwfw.png" /></a>
                </div>
                <div class="app-wrapper">
                    <div class="more-img">
                        <a href="bsfw.html" target="_blank"><img src="../../../../statics/nync/img/more.png" /></a>
                    </div>
                    <div class="icon-list">
                        <div class="row">
                            <a href="http://yn.zwy.xnb365.cn/" target="_blank"><img src="../../../../statics/nync/img/yn12316.png"></a>
                            <a href="http://yunnan.cyhzxxpt.znxdcloud.com/#/home/home" target="_blank"><img src="../../../../statics/nync/img/cyhz.png"></a>
                            <a href="http://39.130.145.4:5180/aqst/" target="_blank"><img src="../../../../statics/nync/img/ncpzl.png"></a>
                        </div>
                        <div class="row">
                            <a href="https://nync.yn.gov.cn/kyzn/kyzn/index" target="_blank"><img src="../../../../statics/nync/img/cxdj.png"></a>
                            <a href="http://www.ynszxc.net/tj/tj_s.aspx" target="_blank"><img src="../../../../statics/nync/img/szxc.png"></a>
                            <a href="http://39.130.175.76:8090/#/" target="_blank"><img src="../../../../statics/nync/img/ctpf.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zwfw-wrapper fr">
                <div class="zwfw-title-wrapper">
                    <img class="fl mobfl" src="../../../../statics/nync/img/hdjl_icon.png" alt="" />
                    <div class="hdjl-title-text fl mobfl">互动交流</div>
                    <div class="space0"></div>
                </div>
                <div class="hdjl-xxzx">
                    <a href="yhxz.html" target="_blank"><img src="../../../../statics/nync/img/tzxx.png"></a>
                    <div class="line3 pcShow"></div>
                    <div class="kg">&emsp;</div>
                    <a href="yhxz.html" target="_blank"><img src="../../../../statics/nync/img/gzzx.png"></a>
                    <div class="space0"></div>
                </div>
                <div class="space0"></div>
                <div class="gzzx clearfix ohd">
                    <div class="gzzx_1">
                        <div class="line4"></div>
                        <div class="gzzx-content"><a href="#" target="_blank">您好，我是在嵩明的养殖生猪的农户，在2016年共计养殖900多头，今年养殖500头左右，想咨询下政府有没有相关的补贴以方便我们这些贫苦的农户获得一些补贴，方便后面扩大规模来使用，谢谢。</a></div>
                    </div>
                    <div class="line5-wrapper">
                        <div class="line5"></div>
                    </div>
                    <div class="gzzx_1">
                        <div class="line4"></div>
                        <div class="gzzx-content"><a href="#" target="_blank">您好，我是北京汉基集团党办主任兼采购总监王晓山，我们公司是中国最大的水果精深加工企业之一，每年加工量在100万吨左右，现在想了解一下如果我们到云南来的话会有什么好的政策吗？谢谢</a></div>
                    </div>
                    <div class="more-zx">
                        <a href="hdjl.html#lyhf" target="_blank">查看更多公众咨询 >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-list">
    <div class="comW">
        <div class="list-img">
            <a href="#" target="_blank"><img src="../../../../statics/nync/img/gwy.png"></a>
            <a href="#" target="_blank"><img src="../../../../statics/nync/img/yyn.png"></a>
            <a href="#" target="_blank"><img src="../../../../statics/nync/img/bst.png"></a>
            <a href="#" target="_blank"><img src="../../../../statics/nync/img/wxzlsjh.png"></a>
        </div>
    </div>
</div>
<div class="web-info">
    <div class="comW_1 clearfix">
        <ul class="linknav yh clearfix">
            <li class="gwybmwz">
            </li>

            <li class="gsszfwz">
            </li>

            <li class="szfbmwz">
            </li>

            <li class="">
                省内专业网站
                <ul>

                    <li>
                        <a href="http://www.swtzb.yn.gov.cn/" target="_blank">省委统战部</a>
                    </li>

                    <li>
                        <a href="http://www.zfw.yn.gov.cn/" target="_blank">省委政法委员会</a>
                    </li>

                    <li>
                        <a href="http://ynjgdj.yn.gov.cn/" target="_blank">省委省直机关工委</a>
                    </li>

                    <li>
                        <a href="http://www.ynbb.gov.cn/" target="_blank">省委机构编制办公室</a>
                    </li>

                    <li>
                        <a href="http://invest.yn.gov.cn/" target="_blank">云南省投资促进局</a>
                    </li>

                    <li>
                        <a href="http://www.yncoop.com/" target="_blank">云南省供销合作社</a>
                    </li>

                    <li>
                        <a href="http://kunming.customs.gov.cn/" target="_blank">昆明海关</a>
                    </li>

                    <li>
                        <a href="http://yunnan.chinatax.gov.cn" target="_blank">云南省税务局</a>
                    </li>

                    <li>
                        <a href="http://www.dczd.yn.gov.cn/" target="_blank">国家统计局云南调查总队</a>
                    </li>

                    <li>
                        <a href="http://kmtb.mofcom.gov.cn/" target="_blank">商务部驻昆明特派员办事处</a>
                    </li>

                    <li>
                        <a href="http://www.ynwoman.cn/" target="_blank">省妇联</a>
                    </li>

                    <li>
                        <a href="http://www.cl.yn.gov.cn/" target="_blank">省残疾人联合会</a>
                    </li>

                    <li>
                        <a href="http://yn.youth.cn/" target="_blank">云南青年信息网</a>
                    </li>

                    <li>
                        <a href="http://www.ynbz.net/" target="_blank">云南标准化服务信息网</a>
                    </li>

                    <li>
                        <a href="http://www.ynfzb.cn/" target="_blank">云南法治网</a>
                    </li>

                    <li>
                        <a href="http://www.ynoiec.org.cn/" target="_blank">云南省对外投资合作网</a>
                    </li>

                    <li>
                        <a href="http://www.yngp.com/" target="_blank">云南省政府采购</a>
                    </li>

                    <li>
                        <a href="http://www.ynlib.cn/" target="_blank">云南省图书馆</a>
                    </li>

                    <li>
                        <a href="http://www.ynhr.com/" target="_blank">云南人才</a>
                    </li>

                    <li>
                        <a href="http://www.ynzs.cn/" target="_blank">云南招考频道</a>
                    </li>

                    <li>
                        <a href="http://www.yn111.net/index.php" target="_blank">云南省教育厅大中专毕业生就业服务网</a>
                    </li>

                    <li>
                        <a href="http://yn.singlewindow.cn/index.html" target="_blank">云南电子口岸</a>
                    </li>

                </ul>
            </li>

            <li class="">
                其他省市农业网站
                <ul>

                    <li>
                        <a href="http://www.km.gov.cn/" target="_blank">昆明市政府</a>
                    </li>

                    <li>
                        <a href="http://www.zt.gov.cn/" target="_blank">昭通市政府</a>
                    </li>

                    <li>
                        <a href="http://www.qj.gov.cn" target="_blank">曲靖市政府</a>
                    </li>

                    <li>
                        <a href="http://www.yuxi.gov.cn" target="_blank">玉溪市政府</a>
                    </li>

                    <li>
                        <a href="http://www.baoshan.gov.cn" target="_blank">保山市政府</a>
                    </li>

                    <li>
                        <a href="http://www.cxz.gov.cn" target="_blank">楚雄州政府</a>
                    </li>

                    <li>
                        <a href="http://www.hh.gov.cn" target="_blank">红河州政府</a>
                    </li>

                    <li>
                        <a href="http://www.ynws.gov.cn" target="_blank">文山州政府</a>
                    </li>

                    <li>
                        <a href="http://www.puershi.gov.cn" target="_blank">普洱市政府</a>
                    </li>

                    <li>
                        <a href="http://www.xsbn.gov.cn" target="_blank">西双版纳州政府</a>
                    </li>

                    <li>
                        <a href="http://www.dali.gov.cn" target="_blank">大理州政府</a>
                    </li>

                    <li>
                        <a href="http://www.dh.gov.cn" target="_blank">德宏州政府</a>
                    </li>

                    <li>
                        <a href="http://www.lijiang.gov.cn" target="_blank">丽江市政府</a>
                    </li>

                    <li>
                        <a href="http://www.nujiang.gov.cn/" target="_blank">怒江州政府</a>
                    </li>

                    <li>
                        <a href="http://www.diqing.gov.cn/" target="_blank">迪庆州政府</a>
                    </li>

                    <li>
                        <a href="http://www.lincang.gov.cn" target="_blank">临沧市政府</a>
                    </li>

                </ul>
            </li>

            <li class="">
                其他链接
                <ul>

                    <li>
                        <a href="http://www.ynu.edu.cn/" target="_blank">云南大学</a>
                    </li>

                    <li>
                        <a href="http://www.kmust.edu.cn/" target="_blank">昆明理工大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynnu.edu.cn/" target="_blank">云南师范大学</a>
                    </li>

                    <li>
                        <a href="http://www.kmmc.cn/" target="_blank">昆明医科大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynau.edu.cn/" target="_blank">云南农业大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynutcm.edu.cn/" target="_blank">云南中医药大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynni.edu.cn/web/11403/home" target="_blank">云南民族大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynufe.edu.cn/" target="_blank">云南财经大学</a>
                    </li>

                    <li>
                        <a href="http://www.swfu.edu.cn/" target="_blank">西南林业大学</a>
                    </li>

                    <li>
                        <a href="http://www.ynart.edu.cn/" target="_blank">云南艺术学院</a>
                    </li>

                    <li>
                        <a href="http://www.ynpc.edu.cn/" target="_blank">云南警官学院</a>
                    </li>

                    <li>
                        <a href="http://www.kmu.edu.cn/" target="_blank">昆明学院</a>
                    </li>

                    <li>
                        <a href="http://www.dali.edu.cn/" target="_blank">大理大学</a>
                    </li>

                    <li>
                        <a href="http://www.yxnu.net/" target="_blank">玉溪师范学院</a>
                    </li>

                    <li>
                        <a href="http://www.qjnu.edu.cn/" target="_blank">曲靖师范学院</a>
                    </li>

                    <li>
                        <a href="http://www.cxtc.edu.cn" target="_blank">楚雄师范学院</a>
                    </li>

                    <li>
                        <a href="http://www.uoh.edu.cn/" target="_blank">红河学院</a>
                    </li>

                    <li>
                        <a href="http://www.bsnc.cn/" target="_blank">保山学院</a>
                    </li>

                    <li>
                        <a href="http://www.wsu.edu.cn/" target="_blank">文山学院</a>
                    </li>

                    <li>
                        <a href="http://www.ztu.edu.cn/" target="_blank">昭通学院</a>
                    </li>

                    <li>
                        <a href="http://www.peuni.cn/" target="_blank">普洱学院</a>
                    </li>

                    <li>
                        <a href="http://www.wyuas.edu.cn/" target="_blank">滇西应用技术大学</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="mask">
        <div class="comW_1 clearfix">
            <div class="footer-content">
                <div class="dzjg-icon">
                    <span id="dzjg">
                        <a href="#" target="_blank"><img src="../../../../statics/nync/img/red.png" vspace="0" hspace="0" border="0"></a>
                    </span>
                </div>
                <div class="bgt">
                    <a href="#" target="_blank">
                        <img src="../../../../statics/nync/img/icond.png" alt="曝光台">
                    </a>
                </div>
                <div class="space0 mobShow padShow"></div>
                <div class="bqxx st">
                    <div class="line6 pcShow"></div>
                    <div class="zbdw">
                        <a href="wzdt.html" target="_blank">网站地图&ensp;</a>|&thinsp;
                        <a href="#" target="_blank">网站声明&ensp;</a>|&thinsp;
                        <a href="#" target="_blank">关于我们</a>
                        <br>
                        主办单位：云南省农业农村厅
                        <br>
                        联系方式：0871-65738771
                    </div>
                    <div class="line6 pcShow"></div>
                    <div class="jszc">
                        承办单位：云南省农业农村与信息中心
                        <br>
                        技术支持：云南网际科技有限公司
                    </div>
                    <div class="line6 pcShow"></div>
                    <div class="baxx">
                        <img class="dgwa fl mobfl" src="../../../../statics/nync/img/dgwa.png">
                        <div class="fl mobfl">&nbsp;<a href="#" target="_blank">滇公网安备 53010302000634号</a></div>
                        <div class="space0"></div>
                        <div class="bsm pcShow">
                            政府网站标识码：5300000036
                            <br>
                            滇ICP备05000002
                        </div>
                        <div class="mobShow">
                            政府网站标识码：5300000036 滇ICP备05000002
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../../statics/nync/js/jquery.js"></script>
<script type="text/javascript" src="../../../../statics/nync/js/jquery.zScroll.2.8.min.js"></script>
<script type="text/javascript" src="../../../../statics/nync/js/accordion.js"></script>
<script type="text/javascript" src="../../../../statics/nync/js/tw_cn.js"></script>
<script type="text/javascript" src="../../../../statics/nync/js/common.js"></script>
<script src="http://www.yn.gov.cn/yewei/dbdh/bt.jsonp"></script>
</body>
</html>